:root {
  --stone-50: #fafaf9;
  --stone-100: #f5f5f4;
  --stone-200: #e7e5e4;
  --stone-300: #d6d3d1;
  --stone-400: #a8a29e;
  --stone-500: #78716c;
  --stone-600: #57534e;
  --stone-700: #44403c;
  --stone-800: #292524;
  --stone-900: #1c1917;
  --stone-950: #0c0a09;

  --bg-color: var(--stone-50);

}

* {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  font-weight: normal;
}

body {
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-rows: 80px 1fr;
}

header {
  padding: 16px;
  position: sticky;

  background-color: var(--bg-color);

  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 8px;
}

header .headerLeft {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 8px;
}


header #addBookButton  {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  padding: 8px 12px;
  font-weight: bold;

  border-radius: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

  background-color: var(--stone-100);
  color: var(--stone-800);
}

main {
  background-color: var(--bg-color);

  display: grid;
  grid-template-rows: 50px 1fr;
}

header #addBookButton:hover {
  background-color: var(--stone-200);
}

header #addBookButton:active {
  background-color: var(--stone-300);
}


main > .booksContainer {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-template-rows: repeat(auto-fill, 150px);

  padding: 16px;
}

main > .booksContainer > .book {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 8px;

  width: 200px;
  height: 80px;
  display: grid;
  grid-template-rows: 2fr 1fr;
}



main > .booksContainer > .book > .bookInfo > p {
  font-size: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
}

.modalContent {
  background-color: var(--stone-50);
  margin: 20% auto; 
  padding: 20px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  width: 300px;
}

.modalContent #addBookForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 4px;
  padding: 16px 0px;
}


.modalContent #addBookForm > input {
  flex-grow: 1;
}

.modalContent > .modalContentButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalContent > .modalContentButtons > button {
  color: var(--stone-800);
  background-color: var(--stone-50);
  border-radius: 5px;
  border: none;
  padding: 4px 8px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.modalContent > .modalContentButtons > button:hover {
  background-color: var(--stone-200);
}

.modalContent > .modalContentButtons > button:active {
  background-color: var(--stone-300);
}

.close {
  color: var(--stone-600);
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
